/*!
 * Start Bootstrap - Bare v ()
 */
@font-face {
  font-family: 'Atlas Grotesk';
  src: url(../assets/fonts/atlas/AtlasGrotesk-Regular-Web.eot);
  src: url(../assets/fonts/atlas/AtlasGrotesk-Regular-Web.woff2) format("woff2"), url(../assets/fonts/atlas/AtlasGrotesk-Regular-Web.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@keyframes easeRotateIn {
  0% {
    transform: rotate(-1deg);
    opacity: 0; }
  100% {
    transform: rotate(0deg);
    opacity: 1; } }

@keyframes easeUp {
  0% {
    transform: translateY(1vw);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

a:link {
  color: #11111a;
  text-decoration: none;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

a:visited {
  color: #11111a;
  text-decoration: none;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

a:hover {
  color: #11111a;
  text-decoration: none;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

a.active {
  color: #11111a;
  text-decoration: none;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

body {
  margin: 0;
  padding: 0;
  background-color: #11111a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body #background {
    width: 100vw;
    height: 100vw;
    background: #11111a;
    position: absolute;
    z-index: 1000;
    transform: translateY(-100%); }
  body .main-container .container-fluid .section-container {
    width: 100vw;
    padding: 5vw;
    background-color: #ffffff;
    position: relative;
    display: flex;
    align-items: flex-start; }
  body .main-container .container-fluid .hero-container {
    height: 100vh; }
    @media (max-width: 992px) {
      body .main-container .container-fluid .hero-container {
        font-size: 17.6px;
        line-height: 30.8px; } }
    @media (max-width: 767px) {
      body .main-container .container-fluid .hero-container {
        padding-top: 10vw; } }
    body .main-container .container-fluid .hero-container .hero-text {
      font-size: 22px;
      line-height: 38.5px;
      color: #11111a;
      font-family: "Atlas Grotesk";
      animation: 1s ease-out 0s 1 easeUp forwards; }
      @media (max-width: 992px) {
        body .main-container .container-fluid .hero-container .hero-text {
          font-size: 17.6px;
          line-height: 30.8px; } }
      @media (max-width: 767px) {
        body .main-container .container-fluid .hero-container .hero-text {
          opacity: 0; } }
      body .main-container .container-fluid .hero-container .hero-text span {
        opacity: 0;
        display: block; }
        body .main-container .container-fluid .hero-container .hero-text span.line-one {
          animation: 1s ease-out 0s 1 easeRotateIn forwards; }
        body .main-container .container-fluid .hero-container .hero-text span.line-two {
          animation: 1s ease-out 0.25s 1 easeRotateIn forwards; }
        body .main-container .container-fluid .hero-container .hero-text span.line-three {
          animation: 1s ease-out 0.5s 1 easeRotateIn forwards; }
        @media (max-width: 767px) {
          body .main-container .container-fluid .hero-container .hero-text span {
            display: inline;
            opacity: 1;
            animation: none !important; } }
    body .main-container .container-fluid .hero-container .hero-subtext {
      color: #ccc;
      position: absolute;
      bottom: 10vw;
      opacity: 0;
      animation: 1s ease-out 1.25s 1 easeRotateIn forwards; }
  body .main-container .container-fluid .works-container {
    margin-top: -10vw; }
    body .main-container .container-fluid .works-container .work-preview {
      opacity: 0;
      animation: 1s ease-out 0.75s 1 easeUp forwards;
      margin-bottom: 10vw; }
      body .main-container .container-fluid .works-container .work-preview .work-item {
        height: 80vh;
        background: #f5f5f5; }
