/*!
 * Start Bootstrap - Bare v ()
 */
@font-face {
  font-family: 'Atlas Grotesk';
  src: url(../assets/fonts/atlas/AtlasGrotesk-Regular-Web.eot);
  src: url(../assets/fonts/atlas/AtlasGrotesk-Regular-Web.woff2) format("woff2"), url(../assets/fonts/atlas/AtlasGrotesk-Regular-Web.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@keyframes easeRotateIn {
  0% {
    transform: rotate(-1deg);
    opacity: 0; }
  100% {
    transform: rotate(0deg);
    opacity: 1; } }

@keyframes easeUp {
  0% {
    transform: translateY(2vw);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes easeDown {
  0% {
    transform: translateY(-2vw);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes easeDownOut {
  0% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(2vw);
    opacity: 0; } }

@keyframes backgroundShutter {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }

[data-aos="worksFade"].aos-animate {
  animation: 0.75s ease-out 0s 1 easeUp forwards; }

a:link {
  color: #11111a;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

a:visited {
  color: #11111a;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

a:hover {
  color: #11111a;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

a.active {
  color: #11111a;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body .page-container #background {
    height: 100vh;
    width: 100%;
    position: absolute;
    transform: translateY(-100%);
    background: #11111a;
    z-index: 1; }
    body .page-container #background.onscreen {
      transform: translateY(0%); }
  body .page-container.is-exiting[data-transition=backgroundDarkUp] #background {
    animation: 0.5s ease-out 0.25s 1 backgroundShutter forwards;
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    animation-direction: reverse !important; }
  body .page-container.is-exiting[data-transition=backgroundDarkUp] .container-fluid {
    animation: 0.25s ease-out 0s 1 easeDown forwards;
    animation-direction: forwards !important; }
    body .page-container.is-exiting[data-transition=backgroundDarkUp] .container-fluid .hero-container *, body .page-container.is-exiting[data-transition=backgroundDarkUp] .container-fluid .me-container *, body .page-container.is-exiting[data-transition=backgroundDarkUp] .container-fluid .works-container * {
      animation: none !important;
      opacity: 1 !important; }
  body .page-container.is-exiting #background {
    animation: 0.5s ease-out 0.25s 1 backgroundShutter forwards;
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1); }
  body .page-container.is-exiting .container-fluid {
    animation: 0.25s ease-out 0s 1 easeUp forwards;
    animation-direction: reverse !important; }
    body .page-container.is-exiting .container-fluid .hero-container *, body .page-container.is-exiting .container-fluid .me-container *, body .page-container.is-exiting .container-fluid .works-container * {
      animation: none !important;
      opacity: 1 !important; }
  body .page-container .container-fluid {
    padding: 0; }
    body .page-container .container-fluid section {
      padding: 5vw;
      position: relative;
      font-size: 22px;
      line-height: 38.5px;
      color: #11111a;
      font-family: "Atlas Grotesk"; }
      @media (max-width: 767px) {
        body .page-container .container-fluid section {
          padding-top: 10vw; } }
      @media (max-width: 992px) {
        body .page-container .container-fluid section {
          font-size: 17.6px;
          line-height: 30.8px; } }
  body .page-container .index-page {
    z-index: 0; }
    body .page-container .index-page .hero-container {
      height: 100vh; }
      body .page-container .index-page .hero-container .hero-text {
        animation: 0.75s ease-out 0s 1 easeUp forwards; }
        @media (max-width: 992px) {
          body .page-container .index-page .hero-container .hero-text {
            font-size: 17.6px;
            line-height: 30.8px; } }
        @media (max-width: 767px) {
          body .page-container .index-page .hero-container .hero-text {
            opacity: 0; } }
        body .page-container .index-page .hero-container .hero-text span {
          opacity: 0;
          display: block; }
          body .page-container .index-page .hero-container .hero-text span.line-one {
            animation: 0.75s ease-out 0s 1 easeRotateIn forwards; }
          body .page-container .index-page .hero-container .hero-text span.line-two {
            animation: 0.75s ease-out 0.25s 1 easeRotateIn forwards; }
          body .page-container .index-page .hero-container .hero-text span.line-three {
            animation: 0.75s ease-out 0.5s 1 easeRotateIn forwards; }
          @media (max-width: 767px) {
            body .page-container .index-page .hero-container .hero-text span {
              display: inline;
              opacity: 1;
              animation: none !important; } }
      body .page-container .index-page .hero-container .hero-subtext {
        color: #fafafa;
        position: absolute;
        bottom: 10vw;
        opacity: 0;
        animation: 0.75s ease-out 1.25s 1 easeRotateIn forwards; }
    body .page-container .index-page .works-container {
      background-color: #ffffff;
      margin-top: -10vw;
      position: relative; }
      body .page-container .index-page .works-container .work-preview {
        margin-bottom: 10vw;
        padding: 0;
        opacity: 0; }
        body .page-container .index-page .works-container .work-preview:first-child {
          animation: 0.75s ease-out 0.75s 1 easeUp forwards; }
        body .page-container .index-page .works-container .work-preview .work-item {
          height: 90vh;
          background: #f5f5f5; }
  body .page-container .me-page {
    background: #11111a;
    z-index: 100;
    position: absolute; }
    body .page-container .me-page .me-container .me-materials {
      height: 100%; }
      body .page-container .me-page .me-container .me-materials .about-me {
        padding-bottom: 5vw;
        color: #fafafa;
        animation: 0.75s ease-out 0s 1 easeDown forwards; }
        body .page-container .me-page .me-container .me-materials .about-me p {
          margin-bottom: 2vw;
          opacity: 0; }
        body .page-container .me-page .me-container .me-materials .about-me .p-one {
          animation: 0.75s ease-out 0s 1 easeRotateIn forwards; }
        body .page-container .me-page .me-container .me-materials .about-me .p-two {
          animation: 0.75s ease-out 0.25s 1 easeRotateIn forwards; }
        body .page-container .me-page .me-container .me-materials .about-me .p-three {
          animation: 0.75s ease-out 0.5s 1 easeRotateIn forwards; }
        body .page-container .me-page .me-container .me-materials .about-me .p-four {
          animation: 0.75s ease-out 0.75s 1 easeRotateIn forwards; }
        body .page-container .me-page .me-container .me-materials .about-me .p-five {
          animation: 0.75s ease-out 0.75s 1 easeRotateIn forwards; }
      body .page-container .me-page .me-container .me-materials .picture-me {
        width: 100%; }
        @media (max-width: 992px) {
          body .page-container .me-page .me-container .me-materials .picture-me {
            text-align: center; } }
        body .page-container .me-page .me-container .me-materials .picture-me img {
          opacity: 0;
          max-width: 100%;
          max-height: 100%;
          animation: 0.75s ease-out 0.25s 1 easeUp forwards; }
          @media (max-width: 992px) {
            body .page-container .me-page .me-container .me-materials .picture-me img {
              width: 100%; } }
