@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (max-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (max-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin transition {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

@mixin transition {
  -webkit-transition: all $animationDurationSnappy ease-in-out;
  -moz-transition: all $animationDurationSnappy ease-in-out;
  -o-transition: all $animationDurationSnappy ease-in-out;
  transition: all $animationDurationSnappy ease-in-out;
}

@keyframes easeRotateIn {
  0% {
    transform: rotate(-1deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes easeUp {
  0% {
    transform: translateY($buffer*2);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes easeDown {
  0% {
    transform: translateY(-$buffer*2);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@mixin animation($duration, $delay, $animation) {
  animation: $duration ease-out $delay 1 $animation forwards;
}

[data-aos="worksFade"] {
  // opacity: 0;
  &.aos-animate {
    @include animation($animationDurationLong, 0s, easeUp);
  }
}
