$buffer:                    1vw;
$bgColorDark:               #11111a;
$bgColorMedium:             #f5f5f5;
$bgColorLight:              #ffffff;

$primaryFont:               'Atlas Grotesk';
$primaryFontSize:           22px;
$primaryFontLineHeight:     $primaryFontSize*1.75;
$primaryFontColor:          $bgColorDark;

$linkColor:                 $primaryFontColor;
$linkBorderColor:           #eeeeee;
$linkBorderHoverColor:      $primaryFontColor;
$linkBorder:                1px solid $linkBorderColor;

$animationTimeFirst:        0s;
$animationTimeSecond:       .25s;
$animationTimeThird:        .50s;
$animationTimeFourth:       .75s;
$animationTimeFifth:        1s;

$iconWidth:                 $buffer*2;
