$buffer:                    1vw;
$bgColorDark:               #11111a;
$bgColorMedium:             #fafafa;
$bgColorLight:              #ffffff;

$primaryFont:               "Atlas Grotesk";
$primaryFontSize:           20px;
$primaryFontLineHeight:     $primaryFontSize*1.5;
$primaryFontColor:          $bgColorDark;

$xlargeFontSize:            $primaryFontSize*2.25;
$xlargeLineHeight:          $primaryFontLineHeight*2.15;

$largeFontSize:             $primaryFontSize*1.5;
$largeFontLineHeight:       $primaryFontLineHeight*1.5;

$smallFontSize:             $primaryFontSize*.6;
$smallFontLineHeight:       $primaryFontLineHeight*.65;

$lightFontColor:            #fafafa;
$mediumFontColor:           #ccccca;
$mediumDarkFontColor:       #55555a;

$linkColor:                 $primaryFontColor;
$linkBorderColor:           #eaeaea;
$linkBorderHoverColor:      $primaryFontColor;
$linkBorder:                1px solid $linkBorderColor;
$linkBorderHover:           1px solid $linkBorderHoverColor;

$animationDurationLong:     .75s;
$animationDurationMiddle:   .50s;
$animationDurationSnappy:   .25s;

$animationTimeFirst:        0s;
$animationTimeSecond:       .25s;
$animationTimeThird:        .50s;
$animationTimeFourth:       .75s;
$animationTimeFifth:        1s;
$animationTimeSixth:        1.25s;
$animationTimeSeventh:      1.5s;
$animationTimeEighth:       1.75s;
$animationTimeNinth:        2s;

$easingCubic:               cubic-bezier(0.77, 0, 0.175, 1);

$iconWidth:                 $buffer*2;

$offsetHintVertical:        $buffer*10;

$workItemHeight:            90vh;
$workTransitionImgHeight:   70vh;
$workPlateHeight:           100vh;

$lightBluePlateMatte:       #F0F2F5;
$lightPurplePlateMatte:     #F6F4F9;
