$buffer:                    1vw;
$bgColorDark:               #11111a;
$bgColorMedium:             #f5f5f5;
$bgColorLight:              #ffffff;

$primaryFont:               'Atlas Grotesk';
$primaryFontSize:           22px;
$primaryFontLineHeight:     $primaryFontSize*1.75;
$primaryFontColor:          $bgColorDark;

$largeFontSize:             $primaryFontSize*1.5;
$largeFontLineHeight:       $primaryFontLineHeight*1.5;

$smallFontSize:             $primaryFontSize*.75;
$smallFontLineHeight:       $primaryFontLineHeight*.75;

$lightFontColor:            #fafafa;
$mediumFontColor:           #cccccc;
$mediumDarkFontColor:       #4E4E4a;

$linkColor:                 $primaryFontColor;
$linkBorderColor:           #eeeeee;
$linkBorderHoverColor:      $primaryFontColor;
$linkBorder:                1px solid $linkBorderColor;

$animationDurationLong:     .75s;
$animationDurationMiddle:   .50s;
$animationDurationSnappy:   .25s;

$animationTimeFirst:        0s;
$animationTimeSecond:       .25s;
$animationTimeThird:        .50s;
$animationTimeFourth:       .75s;
$animationTimeFifth:        1s;
$animationTimeSixth:        1.25s;
$animationTimeSeventh:      1.5s;
$animationTimeEighth:       1.75s;
$animationTimeNinth:        2s;

$iconWidth:                 $buffer*2;

$offsetHintVertical:        $buffer*10;
