@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "bootstrap-overrides.scss";

body {
  margin: 0; padding: 0;
  background-color: $bgColorDark;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  // #background {
  //   width: 100vw;
  //   height: 100vw;
  //   background: $bgColorDark;
  //   position: absolute;
  //   z-index: 0;
  //   &.offscreen {
  //     transform: translateY(-100%);
  //     @include transition;
  //   }
  //   &.onscreen {
  //     transform: translateY(0%);
  //     @include transition;
  //   }
  // }
  .page-container {
    .container-fluid {
      padding: 0;
      section {
        padding: $buffer*5;
        position: relative;
        @include breakpoint(xs) {
          padding-top: $buffer*10;
        }
        @include breakpoint(md) {
          font-size: $primaryFontSize*.8;
          line-height: $primaryFontLineHeight*.8;
        }
        font-size: $primaryFontSize;
        line-height: $primaryFontLineHeight;
        color: $primaryFontColor;
        font-family: $primaryFont;
      }
    }//container-fluid
    &.index-page {
      .hero-container {
        height: 100vh;
        background-color: $bgColorLight;
        .hero-text {
          @include animation($animationDurationLong, $animationTimeFirst, easeUp);
          @include breakpoint(md) {
            font-size: $primaryFontSize*.8;
            line-height: $primaryFontLineHeight*.8;
          }
          @include breakpoint(xs) {
            opacity: 0;
          }
          span {
            opacity: 0;
            &.line-one {
              @include animation($animationDurationLong, $animationTimeFirst, easeRotateIn);
            }
            &.line-two {
              @include animation($animationDurationLong, $animationTimeSecond, easeRotateIn);
            }
            &.line-three {
              @include animation($animationDurationLong, $animationTimeThird, easeRotateIn);
            }
            display: block;
            @include breakpoint(xs) {
              display: inline;
              opacity: 1;
              animation: none !important;
            }
          }
        }//hero-subtext
        .hero-subtext {
          color: $lightFontColor;
          position: absolute;
          bottom: $offsetHintVertical;
          opacity: 0;
          @include animation($animationDurationLong, $animationTimeSixth, easeRotateIn);
        }
      } //hero-container
      .works-container {
        background-color: $bgColorLight;
        margin-top: -$offsetHintVertical;
        position: relative;
        .work-preview {
          margin-bottom: $buffer*10;
          padding: 0;
          opacity: 0;
          &:first-child {
            @include animation($animationDurationLong, $animationTimeFourth, easeUp);
          }
          .work-item {
            height: 90vh;
            background: $bgColorMedium;
          }
        }//work-preview
      }//works-container
    }//index-page
    &.me-page {
      background: $bgColorDark;
      .me-container {
        height: 100vh;
        .me-materials {
          height: 100%;
          .about-me {
            color: $lightFontColor;
            @include animation($animationDurationLong, $animationTimeFirst, easeUp);
            p {
              margin-bottom: $buffer*2;
              opacity: 0;
            }
            .p-one {@include animation($animationDurationLong, $animationTimeFirst, easeRotateIn);}
            .p-two {@include animation($animationDurationLong, $animationTimeSecond, easeRotateIn);}
            .p-three {@include animation($animationDurationLong, $animationTimeThird, easeRotateIn);}
          }
          .picture-me{
            height: 100%;
            // display: flex;
            // justify-content: flex-end;
            // align-items: center;
            text-align: right;
            @include animation($animationDurationLong, $animationTimeSecond, easeRotateIn);
            @include breakpoint(md) {
              // justify-content: flex-start;
              text-align: center;
            }
            img {
              opacity: 0;
              max-height:100%;
              @include animation($animationDurationLong, $animationTimeSecond, easeUp);
              @include breakpoint(md) {
                width: 100%;
              }
            }
          }//picture-me
        }//me-materials
      }
    }//me-page
  }//page-container
} //body
