@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "bootstrap-overrides.scss";

body {
  margin: 0; padding: 0;
  background-color: $bgColorLight;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
//   ::selection {
//   background: $bgColorMedium;
// }
  .page-container {
    -webkit-backface-visibility: hidden !important;
    #background {
      height: 100vh;
      width: 100%;
      position: fixed;
      transform: translateY(-100%);
      background: $bgColorDark;
      z-index: 1;
      &.onscreen {
        transform: translateY(0%);
      }
    }
    &.is-exiting {
      &[data-transition=backgroundDarkUp] {
        #background {
          @include animation($animationDurationMiddle, $animationTimeSecond, backgroundShutter);
          -webkit-animation-timing-function: cubic-bezier(.4,0,0.2,1);
          animation-direction: reverse !important;
        }
        .container-fluid {
          @include animation($animationDurationSnappy, $animationTimeFirst, easeDown);
          animation-direction: reverse !important;
          .hero-container *, .me-container *, .works-container *, .work-artifacts * {
            animation: none !important;
            opacity: 1 !important;
          }
        }
      }
      &[data-transition=imageBecomesHero] {
        #background {
          transform: translateY(-100%) !important;
        }
        .container-fluid {
          visibility: hidden !important; //weird fix for DOM loading flash--not sure if works?
          .works-container {
            opacity: 1;
            background: $bgColorLight;
            padding-left: 0; padding-right: 0;
            transition: all .75s;
            -webkit-transition-timing-function: cubic-bezier(1,0,0.25,1);
            z-index: 100 !important;
            .work-hero-link {
              .work-item {
                transition: all .75s;
                opacity: 1 !important;
              }
              .work-title {
                transition: all .75s;
                opacity: 0 !important;
                h1 {
                  opacity: 0;
                  transition: all .25s;
                }
              }
            }
          }
          .hero-container * {
            animation: none !important;
            opacity: 0 !important;
          }
        }
      }
      &[data-transition=backgroundDarkDown] {
        #background {
          @include animation($animationDurationMiddle, $animationTimeSecond, backgroundShutter);
          -webkit-animation-timing-function: cubic-bezier(.4,0,0.2,1);
        }
        .container-fluid {
          @include animation($animationDurationSnappy, $animationTimeFirst, easeUp);
          animation-direction: reverse !important;
          .hero-container *, .me-container *, .works-container *, .work-artifacts * {
            animation: none !important;
            opacity: 1 !important;
          }
        }
      }
    }//is-exiting
    .container-fluid {
      padding: 0;
      section {
        padding: $buffer*5;
        position: relative;
        @include breakpoint(xs) {
          padding-top: $buffer*10;
        }
        @include breakpoint(md) {
          font-size: $primaryFontSize*.8;
          line-height: $primaryFontLineHeight*.8;
        }
        font-size: $primaryFontSize;
        line-height: $primaryFontLineHeight;
        color: $primaryFontColor;
        font-family: $primaryFont;
      }
      section.nav-container {
        z-index: 1;
        position: absolute;
        width: 100%;
        pointer-events: none;
        .nav-items {
          .nav-left {text-align:left;}
          .nav-right {
            text-align:right;
            @include breakpoint(xs) {
              text-align: left;
            }
          }
          .nav-icon {
            pointer-events: auto;
            font-size: $smallFontSize;
            text-align: right;
          }
        }//nav-items
      }
    }//container-fluid
    .index-page {
      z-index: 0;
      .nav-container {
        .nav-items {
          opacity: 0;
          @include animation($animationDurationLong, $animationTimeFourth, easeRotateInLeft);
          .nav-icon {
            a:link {color: $primaryFontColor;}
            a:visited {color: $primaryFontColor;}
            a:hover {color: $mediumFontColor;}
            a:active {color: $mediumFontColor;}
            text-align: right;
          }
        }
      }
      .hero-container {
        height: 100vh;
        display: flex;
        .hero-text {
          width: 100%;
          opacity: 0;
          @include animation($animationDurationLong, $animationTimeFirst, easeUp);
          @include breakpoint(md) {
            font-size: $primaryFontSize*.8;
            line-height: $primaryFontLineHeight*.8;
          }
          @include breakpoint(xs) {
            align-items: center;
            // margin-top: $offsetHintVertical*6;
            opacity: 0;
          }
          span {
            opacity: 0;
            &.line-one {
              @include animation($animationDurationLong, $animationTimeFirst, easeRotateIn);
            }
            &.line-two {
              @include animation($animationDurationLong, $animationTimeSecond, easeRotateIn);
            }
            &.line-three {
              @include animation($animationDurationLong, $animationTimeThird, easeRotateIn);
            }
            display: block;
            @include breakpoint(xs) {
              display: inline;
              opacity: 1;
              animation: none !important;
            }
          }
        }//hero-subtext
        .hero-subtext {
          color: $mediumFontColor;
          font-size: $smallFontSize;
          position: absolute;
          bottom: $offsetHintVertical;
          opacity: 0;
          @include animation($animationDurationLong, $animationTimeSixth, easeRotateIn);
          @include breakpoint(sm) {
            bottom: $offsetHintVertical*2;
          }
        }
      } //hero-container
      .works-container {
        width: 100%;
        background-color: $bgColorLight;
        margin-top: -$offsetHintVertical;
        @include breakpoint(sm) {
          margin-top: -$offsetHintVertical*2;
        }
        position: relative;
        .work-preview {
          margin-bottom: $buffer*10;
          margin-left: 0; margin-right: 0;
          padding: 0;
          opacity: 0;
          &:first-child {
            @include animation($animationDurationLong, $animationTimeFourth, easeUp);
          }
          a.work-hero-link {
            width: 100%;
            background: $bgColorMedium;
            @include transition;
            .work-item {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: $buffer*5;
              height: $workItemHeight;
              @include transition;
            }
            .work-title {
              display: flex;
              align-items: center;
              justify-content: center;
              height: $workItemHeight;
              margin-top: -$workItemHeight;
              opacity: 0;
              @include transition;
              h1 {
                font-size: $xlargeFontSize;
              }
            }
            &:hover {
              // background: $bgColorLight;
              @include transition;
              .work-item {
                opacity: .1;
                @include transition;
              }
              .work-title {
                opacity: 1;
                @include transition;
                @include animation($animationDurationSnappy, $animationTimeFirst, easeUp);
              }
            }
          }
        }//work-preview
      }//works-container
    }//index-page
    .work-page {
      background: $bgColorLight;
      .nav-container {
        .nav-items {
          @include animation($animationDurationLong, $animationTimeFirst, easeDown);
          .nav-left {
            opacity: 0;
            @include animation($animationDurationLong, $animationTimeFirst, easeRotateIn);
          }
          .nav-right {
            @include breakpoint(xs) {
            text-align: right !important;
            }
            opacity: 0;
            @include animation($animationDurationLong, $animationTimeSecond, easeRotateIn);
          }
          .nav-icon {
            a:link {color: $mediumFontColor;}
            a:visited {color: $mediumFontColor;}
            a:hover {color: $primaryFontColor;}
            a:active {color: $primaryFontColor;}
            text-align: right;
          }
        }
      }//nav-container
      .work-hero-container {
        height: $workItemHeight;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: $bgColorMedium;
        .hero-artifact {
          .hero-artifact-image {}
        }
      }
      .work-artifacts {
        .artifact-plate {
          @include breakpoint(xs) {
            padding:0 $buffer*5;
          }
          opacity: 0;
          margin-bottom: $buffer*5;
          &.work-title {
            opacity: 0;
            height: $workItemHeight/1.5;
            @include breakpoint(xs) {
              height: auto;
            }
          }
          .plate-image {
            height: $workPlateHeight;
            background: $lightBluePlateMatte;
            // background: $lightPurplePlateMatte;
            @include breakpoint(xs) {
              height: 60vh;
            }

          }
          .plate-text {
            display: flex;
            align-items: center;
            justify-content: center;
            @include breakpoint(xs) {
              height: $workItemHeight/2;
            }
            h1 {
              display: block !important;
              line-height: $largeFontLineHeight;
              &.text-quote {
                text-align: center;
                width: 60%;
                @include breakpoint(xs) {
                  font-size: $largeFontSize*.8;
                  line-height: $largeFontLineHeight*.8;
                  width: 100%;
                  text-align: left;
                }
                p {
                  font-size: $primaryFontSize;
                  margin-top: $buffer*3;
                  color: $mediumFontColor;
                }
              }
            }
            p {
              &.text-caption {
                width: 60%;
                @include breakpoint(xs) {
                  width: 100%;
                  text-align: left;
                }
              }
            }
          }
        }
      }
      .work-footer {
        font-size: $smallFontSize;
        line-height: $smallFontLineHeight;
        opacity: 0;
        // background: $bgColorMedium;
        .footer-items {
          margin: $buffer*5 0 $buffer*5 0;
          // height: $workItemHeight/4;
          color: $mediumFontColor;
          display: flex;
          align-items: flex-start;
          .items-title {}
          .items-list {
            list-style-type: none;
            padding-left: 0;
            color: $primaryFontColor;
          }
        }
      }
    }


    .me-page {
      background: $bgColorDark;
      z-index: 100;
      position: absolute;
      .nav-container {
        .nav-items {
          opacity: 0;
          @include animation($animationDurationLong, $animationTimeFourth, easeRotateIn);
          .nav-icon {
            a:link {color: $lightFontColor;}
            a:visited {color: $lightFontColor;}
            a:hover {color: $mediumDarkFontColor;}
            a:active {color: $mediumDarkFontColor;}
            text-align: right;
          }
        }
      }
      .me-container {
        height: 100vh;
        @include breakpoint(md) {
          height: 150vh;
          margin-top: $offsetHintVertical*3;
          // align-items: center;
        }
        .me-materials {
          @include breakpoint(xs) {
            margin-top: $offsetHintVertical;
          }
          .about-me {
            color: $lightFontColor;
            @include animation($animationDurationLong, $animationTimeFirst, easeDown);
            p {
              margin-bottom: $buffer*5;
              opacity: 0;
              @include breakpoint(md) {
                margin-bottom: $buffer*3 !important;
              }
            }
            .p-one {@include animation($animationDurationLong, $animationTimeFirst, easeRotateInLeft);}
            .p-two {@include animation($animationDurationLong, $animationTimeSecond, easeRotateInLeft);}
            .p-three {@include animation($animationDurationLong, $animationTimeThird, easeRotateInLeft);}
          }
        }//me-materials
        .me-contact {
          // width: 500%;
          // width: 100%;
          width: 80vw;
          position: absolute;
          bottom: $offsetHintVertical;
          @include breakpoint(sm) {
            bottom: $offsetHintVertical*2;
          }
          .contact-info {
            color: $mediumDarkFontColor;
            p {
              opacity: 0;
              font-size: $smallFontSize;
              a:link {color: $lightFontColor;}
              a:visited {color: $lightFontColor;}
              a:hover {color: $mediumDarkFontColor;}
              a:active {color: $mediumDarkFontColor;}
            }
            .p-four {
              @include animation($animationDurationLong, $animationTimeFifth, easeRotateInLeft);
              display:block;
            }
          }
        }
      }//me-container
      .me-image {
        margin-top: -$offsetHintVertical;
        @include breakpoint(sm) {
          margin-top: -$offsetHintVertical*2;
        }
        .me-picture{
          opacity: 0;
          @include animation($animationDurationLong, $animationTimeFourth, easeUp);
          @include breakpoint(md) {
            text-align: center;
          }
          img {
            width: 100%;
            max-width: 100%;
            max-height: 100%;
            @include breakpoint(md) {
              width: 100%;
            }
          }
          .picture-caption {
            margin-top: $buffer*2;
            color: $mediumDarkFontColor;
            font-size: $smallFontSize;
            text-align: center;
            @include breakpoint(xs){
              text-align: left;
              margin-top: $buffer*10;
            }
          }
        }//me-picture
      }//me-image
    }//me-page
  }//page-container
} //body
