@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "bootstrap-overrides.scss";

body {
  margin: 0; padding: 0;
  background-color: $bgColorLight;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
//   ::selection {
//   background: $bgColorMedium;
// }
  .page-container {
    -webkit-backface-visibility: hidden !important;
    #background {
      height: 100vh;
      width: 100%;
      position: fixed;
      transform: translateY(-100%);
      background: $bgColorDark;
      z-index: 1;
      &.onscreen {
        transform: translateY(0%);
      }
    }
    &.is-exiting {
      &[data-transition=backgroundDarkUp] {
        #background {
          @include animation($animationDurationMiddle, $animationTimeSecond, backgroundShutter);
          -webkit-animation-timing-function: cubic-bezier(.4,0,0.2,1);
          animation-direction: reverse !important;
        }
        .container-fluid {
          @include animation($animationDurationSnappy, $animationTimeFirst, easeDown);
          animation-direction: reverse !important;
          .hero-container *, .me-container *, .works-container *, .work-artifacts * {
            animation: none !important;
            opacity: 1 !important;
          }
        }
      }
      &[data-transition=imageBecomesHero] {
        #background {
          transform: translateY(-100%) !important;
        }
        .container-fluid {
          visibility: hidden !important; //weird fix for DOM loading flash--not sure if works?
          .works-container {
            opacity: 1;
            background: $bgColorLight;
            padding-left: 0; padding-right: 0;
            transition: all .75s;
            -webkit-transition-timing-function: cubic-bezier(1,0,0.25,1);
            z-index: 100 !important;
            .work-hero-link {
              .work-item {
                transition: all .75s;
                opacity: 1 !important;
              }
              .work-title {
                transition: all .75s;
                opacity: 0 !important;
                h1 {
                  opacity: 0;
                  transition: all .25s;
                }
              }
            }
          }
          .hero-container * {
            animation: none !important;
            opacity: 0 !important;
          }
        }
      }
      &[data-transition=backgroundDarkDown] {
        #background {
          @include animation($animationDurationMiddle, $animationTimeSecond, backgroundShutter);
          -webkit-animation-timing-function: cubic-bezier(.4,0,0.2,1);
        }
        .container-fluid {
          @include animation($animationDurationSnappy, $animationTimeFirst, easeUp);
          animation-direction: reverse !important;
          .hero-container *, .me-container *, .works-container *, .work-artifacts * {
            animation: none !important;
            opacity: 1 !important;
          }
        }
      }
    }//is-exiting
    .container-fluid {
      padding: 0;
      section {
        // padding: $buffer*5;
        position: relative;
        @include breakpoint(xs) {
          padding-top: $buffer*10;
        }
        @include breakpoint(md) {
          font-size: $primaryFontSize*.8;
          line-height: $primaryFontLineHeight*.8;
        }
        font-size: $primaryFontSize;
        line-height: $primaryFontLineHeight;
        color: $primaryFontColor;
        font-family: $primaryFont;
      }
      section.nav-container {
        z-index: 1;
        position: absolute;
        width: 100%;
        pointer-events: none;
        &.fixed-nav {
          position: fixed;
        }
        .nav-items {
          .nav-left {text-align:left;}
          .nav-right {
            text-align:right;
            @include breakpoint(sm) {
              text-align: left;
            }
          }
          .nav-icon {
            pointer-events: auto;
            font-size: $smallFontSize;
            text-align: right;
          }
        }//nav-items
      }
    }//container-fluid
    .index-page {
      z-index: 0;
      .hero-container {
        height: 100vh;
        display: flex;
        padding: 0;
        .row {
          padding: 0;
          margin: 0;
        }
        @include breakpoint(xs) {
          height: 60vh;
        }
        .hero-contents {
          width: 100%;
          height: 100%;
          .headshot-container {
            width: 100%; height: 100%;
            background: #E6E7E0;
            opacity: 0;
            @include animation($animationDurationMiddle, $animationTimeFirst, backgroundSlideRight);
            p {
              margin: $buffer*3;
              @include breakpoint(xs) {
                margin:$buffer*8;
              }
              position: absolute;
              top: 0;
              left: 0;
              color: darken(#E6E7E0, 50%);
              opacity: 0;
              @include animation($animationDurationLong, $animationTimeSecond, easeUp);
            }
            // padding: 8% 8% 0 8%;
            // @include breakpoint(md) {
            //   padding: 15% 0 0 0;
            // }
            .headshot-image {
              width: 100%; height: 100%;
              opacity: 0;
              @include animation($animationDurationMiddle, $animationTimeThird, easeUp);
              background: url('../assets/images/headshot/zanke.png');
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center bottom;
              // background-position: 20% 0;
            }
          }//headshot-container
          .statement-container {
            padding: $buffer*3;
            display: flex;
            justify-content: space-between;
            height: 100vh;
            @include breakpoint(xs) {
              height: 130vh;
            }
            .statement-body {
              @include breakpoint(xs) {
                padding: $buffer*3 0;
              }
              .statement {
                &.primary {
                  opacity: 0;
                  @include animation($animationDurationMiddle, $animationTimeFourth, easeUp);
                  h1 {
                    margin-bottom: $primaryFontLineHeight;
                    // font-size: $xlargeFontSize;
                    // line-height: $xlargeLineHeight;
                    font-size: $largeFontSize;
                    line-height: $largeFontLineHeight;
                    @include animation($animationDurationMiddle, $animationTimeFourth, easeRotateIn);
                    @include breakpoint(xs) {
                      font-size: $primaryFontSize;
                      line-height: $primaryFontLineHeight;
                    }
                  }
                  p {
                    width: 83.333%;
                    @include breakpoint(xs) {
                      width: 100%;
                    }
                  }
                }
                &.secondary {
                  opacity: 0;
                  @include animation($animationDurationMiddle, $animationTimeFifth, easeUp);
                  p {
                    @include animation($animationDurationMiddle, $animationTimeFifth, easeRotateIn);
                    margin-bottom: $primaryFontLineHeight;
                    &:last-child {
                      margin-bottom: 0;
                    }
                  }
                  .testimonial {
                    .quote {
                      color: #aaa;
                      margin-bottom: $buffer*2;
                    }
                    .person {
                      color: #aaa;
                      font-size: $smallFontSize;
                    }
                  }
                }
                &.last {
                  opacity: 0;
                  @include breakpoint(xs) {
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                  }
                  display: flex;
                  align-items: flex-end;
                  @include animation($animationDurationMiddle, $animationTimeSixth, easeUp);
                  div {
                    margin-right: $buffer*4;
                    p {
                      @include animation($animationDurationMiddle, $animationTimeSixth, easeRotateIn);
                      margin-bottom: 0;
                    }
                    @include breakpoint(xs) {
                      margin-bottom: $primaryFontLineHeight;
                    }
                  }
                }
              }
            }//statement-body
          }//statement-container
        }//hero-contents
      }//hero-container
    }//index-page
  }//page-container
} //body
